extends layout

block content

  h1 #{title}: #{item.name}

  p Do you really want to delete this item?

    form(method='POST')
      div.form-group
        input#genreid.form-control(type='hidden', name='itemid', value=item._id )

      button.btn.btn-primary(type='submit') Delete